{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if elementGeneralCollection is not empty %}
            <div id="element-general-collection" class="col-lg-6">
                <ul>
                    {% for elementGeneral in elementGeneralCollection %}
                        <li>
                            <a  data-id="{{ elementGeneral.id }}"
                                data-name="{{ elementGeneral.name }}"
                                data-slug="{{ elementGeneral.slug }}"
                                href="/general/detail/{{ elementGeneral.id }}"
                            >
                                {{ elementGeneral.name }}({{ elementGeneral.detail.format }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        {% include 'pagination.html.twig' %}
    </div>
{% endblock %}
