{% extends 'base.html.twig' %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if elementGeneralCollection is not empty %}
                <div class="col-lg-6">
                    <ul>
                        {% for elementGeneral in elementGeneralCollection%}
                            <li data-id="{{ elementGeneral.id }}"
                                data-name="{{ elementGeneral.name }}"
                                data-slug="{{ elementGeneral.slug }}"
                            >
                                {{ elementGeneral.name }}({{ elementGeneral.detail.format }})
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if elementSeriesCollection is not empty %}
                <div class="col-lg-6">
                    <ul>
                        {% for elementSeries in elementSeriesCollection %}
                            <li data-id="{{ elementSeries.id }}"
                            >
                                {{ elementSeries.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}